@import 'blocks/calendar';

:root {
  font-family: Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}
