$gap-between-blocks: 1px;
$column: 100px;
$padding: 5px;
$width-calendar: calc(
  (7 * $column) + (6 * $gap-beetwen-blocks) + (2 * $padding)
);
$weekdays: (
  'sun': 606,
  'mon': 0,
  'tue': 101,
  'wed': 202,
  'thu': 303,
  'fri': 404,
  'sat': 505,
);
